body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.menu ul {
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 0;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.menu ul li a:hover {
    background-color: red;
    color: black;
}
.menu ul li a.active {
    background-color: red;
    color: black;
    font-weight: bold;
}
.logo {
    height: 50px;
}
